<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Senate Page</title>

  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
</head>

<body>
  <div id="main">
    <div class="container-fluid">
      <div class="row mt-2">
        <div class="px-4 col-md-12" style="display: flex">
          <img src="./images/zoom.png" class="logo">
          <h3>
            TGIF Logo
          </h3>
        </div>
      </div>

      <div>
        <div class="row mx-0">
          <div class="px-0 col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                  </li>
                  <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                      data-toggle="dropdown">Congress 113</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="house-data.html">House</a>
                      <a class="dropdown-item active" href="#">Senate</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                      data-toggle="dropdown">Attendance</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="house-attendance-statistics.html">House</a>
                      <a class="dropdown-item" href="senate-attendance-statistics.html">Senate</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                      data-toggle="dropdown">Party Loyalty</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="house-loyalty-statistics.html">House</a>
                      <a class="dropdown-item" href="senate-loyalty-statistics.html">Senate</a>
                    </div>
                  </li>
                </ul>
                <ul class="navbar-nav ml-md-auto">
                  <li>
                    <img src="./images/email.png" class="mr-0 mb-1" style="height: 2rem">
                    <a class="navbar-brand" href="mailto:info@tgif.net">info@tgif.net</a>
                  </li>
                </ul>
              </div>
            </nav>


            <div class="container-fluid mt-4 border">
              <div class="row">
                <div class="col-xs-12">
                  <div class="jumbotron mb-0 pt-3 pb-2 px-5 bg-black">
                    <h2>
                      Senators
                    </h2>
                    <p class="text-justify">
                      First convened in 1789, the composition and powers of the Senate are established
                      in Article One of the U.S. Constitution. Each state is represented by two senators,
                      regardless of population, who serve staggered six-year terms. The Senate has several
                      exclusive powers not granted to the House, including consenting to treaties as a precondition to
                      their ratification and consenting to or confirming appointments of Cabinet secretaries, federal
                      judges,
                      other federal executive officials, military officers, regulatory officials, ambassadors,
                      and other federal uniformed officers, as well as trial of federal officials impeached by the
                      House.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




      <!--       <div class="container" id="app">
        <table>
          <thead>

          </thead>
          <tbody>
            <tr v-for="(value, key) in senators">
              <td>{{value.first_name}} {{value.middle_name}} {{value.last_name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
 -->


      <div class="container-fluid" id="app">
        <div class="container-fluid mt-2">

          <div class="row options py-2">

            <div class="col-lg-12" style="padding-top: 0.8rem;">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text py-0 bg-white border-0">
                    <h6 class="mb-0 pr-3">
                      filter by party:
                    </h6>
                    <span class="mr-3">
                      <input type="checkbox" id="D" v-on:click="filterByParty()" checked>Democrat</span>
                    <span class="mr-3">
                      <input type="checkbox" id="R" v-on:click="filterByParty()" checked>Republican</span>
                    <span class="mr-3">
                      <input type="checkbox" id="I" v-on:click="filterByParty()" checked>Independent</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="input-group-text bg-white border-0 pt-3">
                <h6 class="mb-0 pr-3">
                  filter by state:
                </h6>
                <select id="dd-states" class="from-control">
                  <option value="ALL">ALL</option>
                </select>
              </div>
            </div>


          </div>
        </div>

        <div class="row">

          <div class="col-lg-12 col-xs-12 mx-0">
            <table class="table my-2">
              <thead>
                <tr>
                  <th class="table-index">
                  </th>
                  <th class="table-full-name">
                    Senator
                  </th>
                  <th class="table-party">
                    Party Affiliation
                  </th>
                  <th class="table-state">
                    State
                  </th>
                  <th class="table-seniority">
                    Years in Office
                  </th>
                  <th class="table-votes">
                    Votes
                  </th>
                </tr>
              </thead>
              <tr v-for="(member, key) in filterByParty()">
                <td>{{key+1}}</td>
                <td>{{member.first_name}} {{member.middle_name}} {{member.last_name}}</td>
                <td>{{member.party}}</td>
                <td>{{member.state}}</td>
                <td>{{member.seniority}} years</td>
                <td>{{member.votes_with_party_pct}} %</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="footer bg-dark text-light">
      <p class="ml-3 mb-0 text-center pb-3 pt-2">
        2019 TGIF | All Right Reserved
      </p>
    </div>
  </div>
</body>
<script src="vendor/jquery/jquery-3.4.1.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/load-senate-data.js"></script>

</html>